@charset "utf-8";

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  nav {
    background-color: #666;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  section {
    padding: 20px;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  h2{
    padding: 20px;
  }