@charset "UTF-8";

/* ページ全体の設定 */
body{
    background-color: #000;
}
a{
    text-decoration: none;
}
/* タイトルの設定*/
.HomeTitle p{
    margin: 49px auto;
    width: 400px;
    padding:10px 30px ;
}
.HomeTitle a{ 
    color:#fff;
    font-size: 36px;
}
/*記事の設定*/
